h1 {
    color: #111111d9;
}
h2 {
    color: #111111d9;
}
h3 {
    color: #111111d9;
}
h4 {
    color: #111111d9;
}
h5 {
    color: #111111d9;
}
h6 {
    color: #111111d9;
}

.ta-l {
    text-align: left;
}
.ta-c {
    text-align: center;
}

.ta-r {
    text-align: right;
}

.p-30 {
    padding: 30px;
}

.mt-1 {
    margin-top: 10px;
}

.tc-modal {
    user-select: text !important;
}

.tc-avatar__tiny,
.tc-avatar img {
    height: 45px !important;
    width: 45px !important;
}
